{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>{{ category.name }} Items</h1>
    </div>
</div>
<div class='flash'>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-info">
        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>

    </div>
    {% endif %} {% endwith %}
</div>
<div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
        <a href="{{url_for('newItem', category_id = category.id )}}">
            <button class="btn btn-success" id="new-item">
                <span class="glyphicon glyphicon-git-create" aria-hidden="true"></span>Add Item
            </button>
        </a>
    </div>
    <div class="col-md-7"></div>
</div>
{% if items !=[] %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        {% for i in items %}
        <div class="menu-item">
            <h3>{{i.name}}</h3>
            <p>{{i.description}}</p>
            <a href="{{url_for('editItem', category_id = category.id, item_id=i.id ) }}">Edit</a> |
            <a href="{{url_for('deleteItem', category_id = category.id, item_id=i.id ) }}">Delete</a>
        </div>
        <br/> {% endfor %}
    </div>
</div>
<div class="col-md-1"></div>
</div>
{% endif %} {% endblock %}
